name: Build and Push

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: main

      - name: Set up Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v2.x

      - name: Build Plugins
        working-directory: ./main
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REF_NAME: static
        run: deno task build

      - name: Checkout Static Repository
        uses: actions/checkout@v4
        with:
          ref: static
          path: static

      - name: Copy the Git folder
        run: |
          cp -r ./static/.git ./main/dist/

      - name: Add and commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          cwd: ./main/dist/
